<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <h3>
        Cadastro de produto
    </h3>
    <hr/>
    <div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="background-color: #f1f1f1; box-shadow: 3px 6px 10px 0px #909090;">
                <form method="post" th:action="@{/empresa}" th:object="${empresa}">
                    <div class="alert alert-success" th:text="${mensagem}"
                         th:if="${not #strings.isEmpty(mensagem)}"></div>

                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="detailedError : ${#fields.detailedErrors()}">
                            <span th:text="${detailedError.message}"></span>
                        </div>
                    </div>

                    <div clas="col-lg-12">
                        <div clas="row">
                            <br/>
                            <div class="form-group aw-required" th:classappend="${#fields.hasErrors('razao_social')} ? has-error">
                                <label for="exampleInputEmail1">Razão Social</label>
                                <input type="text" class="form-control" id="razaoSocial"
                                       aria-describedby="emailHelp" placeholder="Razão social da empresa"
                                       th:field="*{razao_social}" autofocus="autofocus"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group aw-required" th:classappend="${#fields.hasErrors('nome_fantasia')} ? has-error">
                                <label for="exampleInputEmail1">Nome fantasia</label>
                                <input type="text" class="form-control" id="nome_fantasia"
                                       aria-describedby="emailHelp" placeholder="Nome que aparecerá na etiqueta"
                                       th:field="*{nome_fantasia}"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group aw-required" th:classappend="${#fields.hasErrors('cnpj')} ? has-error">
                                <label for="exampleInputEmail1">CNPJ</label>
                                <input type="number" class="form-control" id="cnpj"
                                       aria-describedby="emailHelp" placeholder="Somente números..." th:field="*{cnpj}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group aw-required" th:classappend="${#fields.hasErrors('endereco')} ? has-error">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input type="text" class="form-control" id="endereco"
                               aria-describedby="emailHelp" placeholder="Rua, avenida, viela, alameda..."
                               th:field="*{endereco}"/>
                    </div>
                    <div class="form-group aw-required" th:classappend="${#fields.hasErrors('bairro')} ? has-error">
                        <div class="row">
                            <div class="col-lg-8">
                                <label for="exampleInputEmail1">Bairro</label>
                                <input type="text" class="form-control" id="bairro"
                                       aria-describedby="emailHelp" placeholder="Vila, pólo, conjunto..."
                                       th:field="*{bairro}"/>
                            </div>
                            <div class="col-lg-4">
                                <label for="exampleInputEmail1">Número</label>
                                <input type="number" class="form-control" id="numero"
                                       aria-describedby="emailHelp" placeholder="Somente números..."
                                       th:field="*{numero}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="exampleInputPassword1">Complemento</label>
                                <input type="text" class="form-control" id="complemento" th:field="*{complemento}"/>
                            </div>
                            <div class="col-lg-6">
                                <label for="exampleInputPassword1">Nº registro processador</label>
                                <input type="number" class="form-control" id="cod_processador" placeholder="Somente números..."
                                       th:field="*{reg_processador}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Código GTIN</label>
                                <input type="text" class="form-control" id="gtin" th:field="*{gtin}"/>
                            </div>
                            <div class="col-lg-6">
                                <label>SSCC - Código de Série da Unidade Logística</label>
                                <input type="text" class="form-control" id="sscc" placeholder="Somente números..."
                                       th:field="*{sscc}"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <br/>
                    <br/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
</body>
</html>