<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <h3>
        Edição de clientes
    </h3>
    <hr/>
    <div>
        <form method="post" th:action="@{/cliente/edit-save/{id} (id=${cliente.id})}">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" style="background-color: #f1f1f1; box-shadow: 3px 6px 10px 0px #909090;">
                    <br/>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Razão Social</label>
                        <input type="text" class="form-control" id="razaoSocial"
                               aria-describedby="emailHelp" th:field="${cliente.razao_social}" lacepholder="Razão social da empresa" name="razao_social"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome Fansatia</label>
                                <input type="text" class="form-control" id="nome_fantasia"
                                       aria-describedby="emailHelp" th:field="${cliente.nome_fantasia}" placeholder="Digite o nome como aparecerá na etiqueta"
                                       name="nome_fantasia"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="exampleInputEmail1">CNPJ</label>
                            <input type="number" class="form-control" id="cnpj"
                                   th:field="${cliente.cnpj}" placeholder="Somente números..." name="cnpj"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Empresa</label>
                        <select class="form-control" id="exampleFormControlSelect2" name="empresa">
                            <option th:each="emp : ${empresas}" th:field="${cliente.empresa.nome_fantasia}"
                                    th:value="${emp.id}" th:text="${emp.nome_fantasia}"/>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button class="btn btn-warning" type="reset" onclick="history.go(-1)">Voltar</button>
                    <br/>
                </div>
                <br/>
                <div class="col-lg-2"></div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>
</body>
</html>