<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <h3>
        Lista de clientes
    </h3>
    <hr/>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome Fantasia</th>
                    <th>CNPJ</th>
                    <th>Fabricante</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "cli : ${clientes}">
                    <td scope ="row" th:text="${cli.razao_social}"/>
                    <td th:text="${cli.nome_fantasia}"/>
                    <td th:text="${cli.cnpj}"/>
                    <td th:text="${cli.empresa.nome_fantasia}"/>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-outline-warning"
                               th:href="@{/cliente/edit/{id}(id=${cli.id})}" >Editar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{/}">Voltar</a>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
</body>
</html>