<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="content-wrapper">
    <div class="container-fluid">
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-1">
                <img th:src="@{/images/etq_3.jpg}" width="80"/>
            </div>
            <div class="col-lg-9">
            <h3>
                Sistema de impressão de etiquetas
            </h3>

            <h4>
                Seja bem vindo <span th:text="${user.nome}"></span>!
            </h4>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive" th:src="@{/images/logo_mgsfoods.jpg}" width="150"/>
            </div>
        </div>
        <hr/>
        <span>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h4>
                    Produtos com etiquetas impressas
                </h4>
                <hr/>
                <table id="tabela_etq" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Peso líquido</th>
                            <th>Peso bruto</th>
                            <th>Qtd caixa gerada</th>
                            <th>Data fabricação</th>
                            <th>Data geração</th>
                            <th>Gerada por</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "pro : ${produtos}">
                            <td th:text="${pro.nomeProduto}"/>
                            <td th:text="${pro.codigo}"/>
                            <td th:text="${#numbers.formatDecimal(pro.peso_liquido,0, 3, 'COMMA')}+' kg'"/>
                            <td th:text="${#numbers.formatDecimal(pro.peso_bruto, 0, 3, 'COMMA')+' kg'}"/>
                            <td th:text="${pro.qtdCxGerada}"/>
                            <td th:text="${#dates.format(pro.dtFabricacao, 'dd/MM/yyyy')}"> </td>
                             <td th:text="${#dates.format(pro.dtLastEtiq, 'dd/MM/yyyy')}"> </td>
                             <td th:text="${pro.geradoPor}"/>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
    </div>
</div>
</body>
</html>