<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
    <div class="container">
        <br/>
        <br/>
        <br/>
        <h3>
            Gerar etiquetas
        </h3>
        <hr/>
        <form method="post" action="/etiqueta" th:object="${passaDados}">
            <div class="alert alert-success" th:text="${mensagem}"
                 th:if="${not #strings.isEmpty(mensagem)}"></div>

            <div class="alert alert-danger" th:text="${erro}"
                 th:if="${not #strings.isEmpty(erro)}"></div>

            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                <div th:each="detailedError : ${#fields.detailedErrors()}">
                    <span th:text="${detailedError.message}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4" style="background-color: #f1f1f1; box-shadow: 3px 6px 10px 0px #909090;">
                    <br/>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Produto</label>
                        <select class="form-control" id="produto" th:field="*{produto}">
                            <option th:each="pro : ${produtos}" th:value="${pro.id}" th:text="${pro.nome_produto}"/>
                        </select>
                    </div>
                    <div class="form-group aw-required is-invalid" th:classappend="${#fields.hasErrors('dt_fabricacao')} ? is-invalid">
                        <label>Data de fabricação</label>
                        <input type="date" locale="pt_BR" class="form-control" id="dt_fabricacao"
                               aria-describedby="emailHelp" path="releaseDate" placeholder="Data de fabricação do produto"
                               th:field="*{dt_fabricacao}"/>
                    </div>
                        <div class="form-group aw-required" th:classappend="${#fields.hasErrors('num_caixas')} ? is-invalid" >
                            <label>Quantidade de caixas</label>
                            <input type="number" class="form-control" id="num_caixas"
                                   aria-describedby="emailHelp" placeholder="Quantidade de caixas"
                                   th:field="*{num_caixas}"/>
                        </div>
                        <button type="button"  data-toggle="modal" data-target="#confirmModal" class="btn btn-primary">Gerar</button>
                    <br/>
                    <br/>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            <!--Modal-->
            <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Tem certeza que deseja gerar essas etiquetas?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Ao confirmar a geração, a operação não poderá ser desfeita.</p>
                            <p>Se você tem certeza que deseja gerar essas etiquetas, clique em GERAR.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Gerar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</body>
</html>