<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <h3>
        Etiquetas geradas
    </h3>
    <hr/>
    <form method="post" th:action="@{/etiquetas/list_etq}">
        <div class="alert alert-success" th:text="${mensagem}"
             th:if="${not #strings.isEmpty(mensagem)}"></div>
        <div class="alert alert-danger" th:text="${erro}"
             th:if="${not #strings.isEmpty(erro)}"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="background-color: #f1f1f1; box-shadow: 3px 6px 10px 0px #909090;">
                <br/>
                <h5>
                    Filtros de busca
                </h5>
                <hr/>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Produto</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="produto" required="required">
                            <option th:each="pro : ${produtos}" th:value="${pro.id}" th:text="${pro.nome_produto}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fabricação inicial</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" placeholder="dd/MM/aaaa" id="dt_inicial" name="dt_inicial"/>
                    </div>
                    <label class="col-sm-2 col-form-label">Data final</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" placeholder="dd/MM/aaaa" id="dt_final" name="dt_final"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nº caixa inicial</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="Somente números."
                               id="cx_inicial" name="cx_inicial" value="0"/>
                    </div>
                    <div class="col-sm-2"></div>
                    <label class="col-sm-2 col-form-label">Caixa final</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="" id="cx_final" name="cx_final" value="0"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Lote</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Ex.: A128" id="lote" name="lote"/>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" >Pesquisar</button>
                    </div>
                    <br/>
                </div>
                <br/>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <hr/>
    <span>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                 <br/>
            <br/>
                <table id="tabela_etq" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Lote</th>
                            <th>Nº caixa</th>
                            <th>Fabricação</th>
                            <th>Validade</th>
                            <th>Status</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Produto</th>
                            <th>Lote</th>
                            <th>Nº caixa</th>
                            <th>Fabricação</th>
                            <th>Validade</th>
                            <th>Status</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr th:each = "etqs : ${etiquetas}">
                            <td th:text="${etqs.produto.nome_produto}"/>
                            <td th:text="${etqs.lote}"/>
                            <td th:text="${etqs.num_caixa}"/>
                            <td th:text="${etqs.fab_string}"/>
                            <td th:text="${etqs.val_string}"/>
                            <td id="status" th:text="${etqs.ativa}"/>
                            <td>
                                <div class="btn-group pull-right">
                                    <div th:if="${etqs.ativa} =='Ativa'">
                                        <a class="btn btn-sm btn-outline-warning"
                                           th:href="@{/etiquetas/impressao_avulsa/{id}(id=${etqs.id})}"
                                           target="_blank">Avulsa</a>
                                    </div>
                                    <div th:if="${etqs.ativa} == 'Ativa'">
                                        <a class="btn btn-sm btn-outline-danger"
                                           th:href="@{/etiquetas/cancalamentoetiqueta/{id}(id=${etqs.id})}"
                                           target="_blank">Cancelar</a>
                                    </div>
                                    <div th:if="${etqs.ativa} != 'Ativa'">
                                        <a class="btn btn-sm btn-outline-info"
                                           th:href="@{/etiquetas/detalheetiqueta/{id}(id=${etqs.id})}"
                                           target="_blank">Detalhes</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
</div>
</body>
</html>