<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/fragment_1 :: head">
</head>
<body>
<div th:replace="/fragments/fragment_1 :: menu">
</div>
<div class="content-wrapper">
    <div class="container-fluid">
        <br/>
        <br/>
        <br/>
        <h3>
            Produtos
        </h3>
        <hr/>
        <span>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="tabela_etq" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Peso líquido</th>
                            <th>Peso bruto</th>
                            <th>Tara embalagem</th>
                            <th>Tara caixa</th>
                            <th>Tara total</th>
                            <th>Ultima Caixa</th>
                            <th>Validade</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "pro : ${produtos}">
                            <td th:text="${pro.nome_produto}"/>
                            <td th:text="${pro.cod_produto}"/>
                            <td th:text="${pro.peso_liquido}"/>
                            <td th:text="${pro.peso_bruto}"/>
                            <td th:text="${pro.tara_embalagem}"/>
                            <td th:text="${pro.tara_caixa}"/>
                            <td th:text="${pro.tara_total}"/>
                            <td th:text="${pro.numero_caixa}"/>
                            <td th:text="${pro.validade}"/>
                            <td>
                                <div class="btn-group pull-right">
                                    <!--<a class="btn btn-sm btn-outline-warning"-->
                                       <!--th:href="@{/produto/view/{id}(id=${pro.id})}" target="_blank" >Download</a>-->
                                    <a class="btn btn-sm btn-outline-info"
                                       th:href="@{/produto/edit/{id}(id=${pro.id})}">Editar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
    </div>
</div>
</body>
</html>